# Keep alphabetic order
/.consulo/
/.gradle/
/.idea/
/.vscode/
/.vs/
!/[Aa]ssets/**/*.meta
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Bb]uild/
/[Bb]uilds/
/[Ee]xportedObj/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
node_modules/
/[Oo]bj/
/[Rr]ecordings/
/[Tt]emp/
/[Uu]ser[Ss]ettings/

*.apk
*.booproj
crashlytics-build.properties
*.csproj
*.mdb
*.mdb.meta
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.svd
*.sln
sysinfo.txt
*.suo
*.tmp
*.unitypackage
*.user
*.userprefs
*.VC.db

